<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.the_notorious_five.easyplate">

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/easy_plate_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialGreen">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Ingredients" />
        <activity android:name=".ResultsActivity"
            android:label="Results"/>
        <activity android:name=".DishActivity"></activity>
        <activity android:name=".FavouritesActivity"
            android:label="Favourites"></activity>

    </application>

</manifest>